{% extends "plantilla.html" %}
{% block content %}
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h5 class="m-b-10">Centrales</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb -item">
                        <a href="{% url 'tipoGeneracion' %}" class="pc-head-link ms-0">
                            Tipos de Generación
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'info_list' %}" class="pc-head-link ms-0">
                            Lista de Centrales
                        </a>
                    </li>
                    <li class="breadcrumb-item" aria-current="page">{% if form.instance.pk %}Editar{% else %}Nueva{% endif %} Central</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<h2>{% if form.instance.pk %}Editar{% else %}Nueva{% endif %} Central</h2>
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
{% endblock %}
