{% extends "plantilla.html" %}
{% block content %}
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h5 class="m-b-10">Centrales</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb -item">
                        <a href="{% url 'tipoGeneracion' %}" class="pc-head-link ms-0">
                            Tipos de Generación
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'info_list' %}" class="pc-head-link ms-0">
                            Lista de Centrales
                        </a>
                    </li>
                    <li class="breadcrumb-item" aria-current="page">{% if form.instance.pk %}Editar{% else %}Nueva{% endif %} Central</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<h2>{% if form.instance.pk %}Editar{% else %}Nueva{% endif %} Central</h2>
<!--<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Guardar</button>
</form> -->
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group row">
        <!--{{ form.as_p }} -->
        <label class="col-lg-4 col-form-label text-lg-end">Nombre</label>
        <div class="col-lg-6">
            {{ form.nombre }}
        </div> 
    </div>
    <div class="form-group row">
        <label for="id_foto_central" class="col-lg-4 col-form-label text-lg-end">Foto Central</label>
        <div class="col-lg-6">
            {% if form.instance.foto_central %}
            <p>Imagen actual:</p>
            <img src="{{ form.instance.foto_central.url }}" class="img-thumbnail" width="200">
            {% endif %}
            <hr>
            {{ form.foto_central }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-4 col-form-label text-lg-end">Ubicación</label>
        <div class="col-lg-6">
            {{ form.ubicacion }}
        </div> 
    </div>
    <div class="form-group row">
        <label class="col-lg-4 col-form-label text-lg-end">Empresa</label>
        <div class="col-lg-6">
            {{ form.empresa }}
        </div> 
    </div>
    <div class="form-group row">
        <label class="col-lg-4 col-form-label text-lg-end">Tipo</label>
        <div class="col-lg-6">
            {{ form.tipo }}
        </div> 
    </div>
    <div class="form-group row">
        <label class="col-lg-4 col-form-label text-lg-end">Potencia</label>
        <div class="col-lg-6">
            {{ form.potencia }}
        </div> 
    </div>
    <div class="form-group row">
        <label class="col-lg-4 col-form-label text-lg-end">Energia Media</label>
        <div class="col-lg-6">
            {{ form.e_media }}
        </div> 
    </div>
    <div class="form-group row">
        <label class="col-lg-4 col-form-label text-lg-end">Provincia</label>
        <div class="col-lg-6">
            {{ form.provincia }}
        </div> 
    </div>
    <div class="form-group row">
        <label class="col-lg-4 col-form-label text-lg-end">Cantón</label>
        <div class="col-lg-6">
            {{ form.canton }}
        </div> 
    </div>
    <div class="form-group row">
        <label class="col-lg-4 col-form-label text-lg-end">Año de Operación</label>
        <div class="col-lg-6">
            {{ form.anio_operacion }}
        </div> 
    </div>
    <div class="form-group row">
        <label class="col-lg-4 col-form-label text-lg-end">Tipo Electrica</label>
        <div class="col-lg-6">
            {{ form.tipo_electrica }}
        </div> 
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a href="{% url 'central_list' %}" class="btn btn-danger">Cancelar</a>
</form>

<script>
    $("#id_foto_central").fileinput({
      language: "es",
      allowedFileExtensions: ["png", "jpg", "jpeg"], 
      showCaption: false, 
      dropZoneEnabled: true, 
      showClose: false 
    });
</script>
<br><br>
{% endblock %}
