{% extends "plantilla.html" %}
{% block content %}
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h5 class="m-b-10">Centrales</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item" aria-current="page">
                        <a href="{% url 'tipoGeneracion' %}" class="pc-head-link ms-0">
                            Tipos de Generación
                        </a>
                    </li>
                    <li class="breadcrumb-item" aria-current="page">Lista de Centrales</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="page-header-title">
      <h2 class="mb-0">Centrales Eléctricas</h2>
    </div>
</div>
<br>
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
    </div>
  {% endfor %}
{% endif %}

<!-- <h1>COLOR: </h1>
<input type="color"> -->
<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-md-10">
                <a href="{% url 'central_create' %}" class="btn btn-success mb-3"><i class="ti ti-plus"></i>Agregar</a>
            </div>
            <div class="col-md-2">
                <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Mostrar Detalles">
                    <button onclick="mostrarDetalles();" id="btn_ver_detalles" class="btn btn-outline-primary btn-circle d-flex justify-content-center align-items-center">
                        <i class="ti ti-eye"></i>
                    </button>
                </span>

                <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Ocultar Detalles">
                    <button onclick="ocultarDetalles();" class="btn btn-outline-success btn-circle d-flex justify-content-center align-items-center" id="btn_ocultar_detalles" style="display:none;">
                        <i class="fa fa-eye-slash"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="dt-responsive table-responsive">
                    <table class="table table table-bordered nowrap">
                        <thead>
                            <tr>
                                <th class="principal">Nombre</th>
                                <th class="secundario">Foto</th>
                                <th class="principal">Ubicación</th>
                                <th class="principal">Empresa</th>
                                <th class="principal">Tipo</th>
                                <th class="principal">Potencia</th>
                                <th class="principal">Energia Media</th>
                                <th class="secundario">Provincia</th>
                                <th class="secundario">Cantón</th>
                                <th class="secundario">Año de Operación</th>
                                <th class="principal">Tipo de Generación</th>
                                <th class="principal">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for central in object_list %}
                            <tr>
                                <td class="principal">{{ central.nombre }}</td>
                                <td class="secundario">{% if central.foto_central and central.foto_central.url %}
                                    <p class="mb-0  fw-normal">
                                        <a  href="{{central.foto_central.url}}" target="_blank">
                                            <img src="{{central.foto_central.url}}" alt=""
                                            height="70px" width="90px">
                                        </a>
                                        <hr>
                                        <a class="btn btn-outline-success" download  href="{{central.foto_central.url}}">
                                        Descargar
                                        </a>
                                    {% else %}
                                        No hay foto disponible.
                                    {% endif %}
                                </td>
                                <td >{{ central.ubicacion}}</td>
                                <td >{{ central.empresa }}</td>
                                <td >
                                    <span class="badge rounded-3 fw-semibold 
                                    {% if central.tipo == 'VAPOR' %} bg-primary 
                                    {% elif central.tipo == 'Térmica' %} bg-warning 
                                    {% elif central.tipo == 'Eólica' %} bg-success 
                                    {% elif central.tipo == 'Fotovoltaica' %} bg-light 
                                    {% else %} bg-secondary 
                                    {% endif %}">
                                    {{ central.tipo}}
                                    </span> 
                                </td>
                                <td >{{ central.potencia}}</td>
                                <td >{{ central.e_media }}</td>
                                <td class="secundario">{{ central.provincia }}</td>
                                <td class="secundario">{{ central.canton }}</td>
                                <td class="secundario">{{ central.anio_operacion }}</td>
                                <td >
                                    <span class="badge rounded-3 fw-semibold 
                                    {% if central.tipo_electrica == 'Hidroeléctrica' %} bg-primary 
                                    {% elif central.tipo_electrica == 'Térmica' %} bg-warning 
                                    {% elif central.tipo_electrica == 'Eólica' %} bg-info 
                                    {% elif central.tipo_electrica == 'Fotovoltaica' %} bg-light 
                                    {% else %} bg-secondary 
                                    {% endif %}">
                                    {{ central.tipo_electrica }}
                                    </span> 
                                </td>
                                <td>
                                    <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Editar">
                                        <a href="{% url 'central_update' central.pk %}" class="btn btn-warning btn-sm btn-circle"><i class="ti ti-pencil me-1" name="editar"></i></a>
                                    </span>
                                    <!-- <a href="{% url 'central_delete' central.pk %}" class="btn btn-danger btn-sm">Eliminar</a> -->
                                    <form id="form-eliminar-{{ central.pk }}" method="POST" action="{% url 'central_delete' central.pk %}" class="d-inline">
                                        {% csrf_token %}
                                        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Eliminar">
                                            <button type="button" onclick="confirmarEliminacion('{{ central.pk }}')" class="btn btn-danger btn-sm btn-circle">
                                                <i class="ti ti-trash me-1"></i>
                                            </button>
                                        </span>

                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    $(".secundario").hide();

 function mostrarDetalles(){
    $(".secundario").fadeIn();
    $("#btn_ver_detalles").hide();
    $("#btn_ocultar_detalles").fadeIn();
 }

 function ocultarDetalles(){
    $(".secundario").hide();
    $("#btn_ver_detalles").fadeIn();
    $("#btn_ocultar_detalles").hide();
 }


 ocultarDetalles();
</script>
{% endblock %}
