{% extends "plantilla.html" %}
{% block content %}
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h5 class="m-b-10">Ficha</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item" aria-current="page">
                        <a href="{% url 'tipoGeneracion' %}" class="pc-head-link ms-0">
                            Tipos de Generación
                        </a>
                    </li>
                    <li class="breadcrumb-item" aria-current="page">Listado de Información Técnica</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<h2>Ficha Técnica de Centrales</h2>
<a href="{% url 'info_create' %}" class="btn btn-success mb-3"><i class="ti ti-plus"></i>Agregar ficha</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Central</th>
            <th>Capacidad</th>
            <th>Vida Útil</th>
            <th>Inversión</th>
            <th>Factor Planta</th>
            <th>Año</th>
           <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for info in object_list %}
        <tr>
            <td>{{ info.central.nombre }}</td>
            <th>{{ info.capacidad}}</th>
            <td>{{ info.vida_util }} años</td>
            <td>{{ info.inversion }}</td>
            <td>{{ info.factor_planta }}</td>
            <td>{{ info.anio }}</td>
            <td>
                <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Editar">
                    <a href="{% url 'info_update' info.pk %}" class="btn btn-warning btn-sm btn-circle"><i class="ti ti-pencil me-1"></i></a>
                </span>
                <form id="form-eliminar-{{ info.pk }}" method="POST" action="{% url 'info_delete' info.pk %}" class="d-inline">
                    {% csrf_token %}
                    <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Eliminar">

                        <button type="button" onclick="confirmarEliminacion('{{ info.pk }}')" class="btn btn-danger btn-sm btn-circle">
                            <i class="ti ti-trash me-1"></i>
                        </button>
                    </span>
                </form>
                <!-- <a href="{% url 'info_delete' info.pk %}" class="btn btn-danger btn-sm">Eliminar</a> -->
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
