{% extends "plantilla.html" %}
{% block content %}
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h5 class="m-b-10">Tipos</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item" aria-current="page">
                        <a href="{% url 'tipoGeneracion' %}" class="pc-head-link ms-0">
                            Tipos de Generación
                        </a>
                    </li>
                    <li class="breadcrumb-item" aria-current="page">Listado de Tipos de Generación</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="page-header-title">
      <h2 class="mb-0">Tipo de Generación Eléctrica</h2>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-12">
        <a href="{% url 'tipoelectrica_create' %}" class="btn btn-success mb-3"><i class="ti ti-plus"></i>Agregar tipo</a>
        <div class="card">
            <div class="card-body">
                <div class="dt-responsive table-responsive">
                    <table id="tbl-tipo" class="table table-hover">
                        <thead class="table-lcoe">
                            <tr>
                                <th>Nombre</th><th>Foto</th><th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tipo in object_list %}
                            <tr>
                                <td>{{ tipo.nombre }}</td>
                                <td>{% if tipo.foto_tipo and tipo.foto_tipo.url %}
                                    <p class="mb-0  fw-normal">
                                        <a  href="{{tipo.foto_tipo.url}}" target="_blank">
                                            <img src="{{tipo.foto_tipo.url}}" alt=""
                                            height="70px" width="90px">
                                        </a>
                                        <a class="btn btn-outline-success" download  href="{{tipo.foto_tipo.url}}">
                                        Descargar
                                        </a>
                                    {% else %}
                                        No hay foto disponible.
                                    {% endif %}</td>
                                <td>
                                    <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Editar">
                                        <a href="{% url 'tipoelectrica_update' tipo.pk %}" class="btn btn-warning btn-sm btn-circle"><i class="ti ti-pencil"></i></a>
                                    </span>
                                    <form id="form-eliminar-{{ tipo.pk }}" method="POST" action="{% url 'tipoelectrica_delete' tipo.pk %}" class="d-inline">
                                        {% csrf_token %}
                                        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Eliminar">
                                            <button type="button" onclick="confirmarEliminacion('{{ tipo.pk }}')" class="btn btn-danger btn-sm btn-circle">
                                                <i class="ti ti-trash me-1"></i>
                                            </button>
                                        </span>
                                    </form>
                                   <!-- <a href="{% url 'tipoelectrica_delete' tipo.pk %}" class="btn btn-danger btn-sm">
                                    <i class="ti ti-trash"></i>Eliminar</a> -->
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div> 
    </div>
</div>
<script>
document.addEventListener("DOMContentLoaded", function () {
    let table = new DataTable('#tbl-tipo', {
        language: {
            url: "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
        },
        dom:
            "<'row'<'col-sm-8 d-flex align-items-center'B><'col-md-4 d-flex justify-content-end'f>>" +  // Botones + buscador
            "<'row'<'col-sm-6'l>>" +                                          
            "<'row'<'col-sm-12'tr>>" +                                             // Tabla
            "<'row mt-2'<'col-md-6'i><'col-md-6 d-flex justify-content-end'p>>",   
        buttons: [
            { extend: 'copy', text: '<i class="fa fa-copy"></i> Copiar', className: 'custom-blue' },
            { extend: 'csv', text: '<i class="fa fa-file-csv"></i> CSV', className: 'custom-blue' },
            { extend: 'excel', text: '<i class="fa fa-file-excel"></i> Excel', className: 'custom-blue' },
            { extend: 'pdf', text: '<i class="fa fa-file-pdf"></i> PDF', className: 'custom-blue' },
            { extend: 'print', text: '<i class="fa fa-print"></i> Imprimir', className: 'custom-blue' }
        ]
    });
});
</script>

{% endblock %}
