# Entorno virtual
venv/

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo

# Configuración local
.env

# Base de datos SQLite (si usas una)
db.sqlite3

# Archivos estáticos generados
staticfiles/
