{% extends "plantilla.html" %}
{% block content %}
{% load static %}
<!-- Encabezado -->
<div class="text-center my-4">
    <h1 class="fw-bold">Tipo de Generación Eléctrica</h1>
    <p class="text-muted">Seleccione el tipo de Generación</p>
</div>
<style>
    body {background-color: #f0f8ff;margin: 0;}
</style>
 <!-- Contenedor de tarjetas -->
<div class="container">
    <div class="row g-4 centered-cols"> 
        {% for tipo in tipos %}
        <!-- Tarjetas Tipo Generación -->
        <div class="col-md-5">
            <a href="{% url 'centrales_por_tipo' tipo.id %}" class="text-decoration-none">
                <div class="card-rectangle card-hover position-relative text-white text-center">
                    <!-- Imagen oculta inicialmente -->
                    {% if tipo.foto_tipo %}
                        <img src="{{ tipo.foto_tipo.url }}" class="card-img-custom" alt="Tipo de Generación">
                    {% else %}
                        <img src="{% static 'assets/images/default.jpg' %}" class="card-img-custom" alt="Imagen por defecto">
                    {% endif %}
        
                    <div class="card-icon">
                        {% if "hidráulica" in tipo.nombre|lower %}
                            <i class="fas fa-water"></i>
                        {% elif "fotovoltaica" in tipo.nombre|lower %}
                            <i class="fas fa-sun"></i>
                        {% elif "eólica" in tipo.nombre|lower %}
                            <i class="fas fa-wind"></i>
                        {% elif "térmica" in tipo.nombre|lower %}
                            <i class="fas fa-fire"></i>
                        {% else %}
                            <i class="fas fa-bolt"></i>
                        {% endif %}
                    </div>
        
                    <!-- Texto al hacer hover -->
                    <div class="card-overlay-text">
                        <h5 class="card-title">{{ tipo.nombre|lower|capfirst }}</h5>
                        <p class="card-text">Generación {{ tipo.nombre|lower|capfirst }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div> 
<!-- Tarjetas Tipo Generación -->

<br>
{% endblock %}
