{% extends "plantilla.html" %}
{% load static %}
{% block content %}
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h5 class="m-b-10">Tipo</h5>
                </div>
                <ul class="breadcrumb">
                <li class="breadcrumb-item">Tipo de Generación</li>

                <li class="breadcrumb-item" aria-current="page">Eólica</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<a href="{% url 'login' %}">LOGIN</a>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="col-md-6">
                <div class="card-header">
                    <h5>Generación Eólica</h5>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <select class="form-control" id="sel-eolica">
                                <option disabled selected>-- Seleccione la Central</option>
                                <option>COCA CODO SINCLAIR</option>
                                <option>MOLINO</option>
                                <option>SOPLADORA</option>
                                <option>MINAS SAN FRANCISCO</option> 
                                <option>MARCEL LANIADO</option>
                                <option>SAN FRNCISCO </option>
                                <option>DELSITANISAGUA</option>
                                <option>MAZAR</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5>Datos Generales</h5>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <style> .cont{ display: flex; justify-content: center;align-items: center;}.img-eo{ width: 50%; height: 50%;}</style>
                    <div class="input-group input-group-sm cont">
                        <span class="input-group-text badge bg-teal-500">★</span>
                        <img src="{% static 'img/tipoGeneracion/eolica.jpg' %}" class="img-fluid card-img-custom img-eo" alt="Eólica">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-sm">
                        <span class="input-group badge bg-teal-500">Capacidad Central</span>
                        <input type="text" id="cap-central" name="cap-central" class="form-control">
                        <span class="input-group-text">[MW]</span>
                      </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-sm">
                      <span class="input-group badge bg-teal-500">Vida Útil</span>
                      <input type="text" id="cap-central" name="cap-central" class="form-control">
                      <span class="input-group-text">[# Años]</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-sm">
                      <span class="input-group-text badge bg-teal-500">Inversión Total</span>
                      <input type="text" id="cap-central" name="cap-central" class="form-control">
                      <span class="input-group-text">[USD]</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-sm">
                      <span class="input-group-text badge bg-teal-500">Factor Planta</span>
                      <input type="text" id="cap-central" name="cap-central" class="form-control">
                      <span class="input-group-text">[ % ]</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-sm">
                      <span class="input-group-text badge badge bg-teal-500">Año</span>
                      <input type="text" id="cap-central" name="cap-central" class="form-control">
                      <span class="input-group-text">[aaaa]</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5>Costos Fijos</h5>
            </div>
            <div class="card-body">
                <div class="form-group row mb-2">
                    <label class="col-form-label col-lg-3 col-sm-12 text-lg-end">Costos</label>
                    <div class="col-lg-5 col-md-9 col-sm-12">
                        <div class="typeahead">
                            <input class="form-control" id="cst-f" name="cst-f" type="text" dir="ltr" placeholder="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="max-height: 305px; overflow-y: auto;">
            <div class="card-header">
                <h5>Costos Variables</h5>
            </div>
            <div class="card-body">
                <div class="form-group row mb-2">
                    <label class="col-form-label col-lg-3 col-sm-12 text-lg-end">Costo Combustible</label>
                    <div class="col-lg-5 col-md-9 col-sm-12">
                        <div class="typeahead">
                            <input class="form-control" id="cst-cos" name="cst-cos" type="text" dir="ltr" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label class="col-form-label col-lg-3 col-sm-12 text-lg-end">Costo Transporte</label>
                    <div class="col-lg-5 col-md-9 col-sm-12">
                        <div class="typeahead">
                            <input class="form-control" id="cst-tr" name="cst-tr" type="text" dir="ltr" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label class="col-form-label col-lg-3 col-sm-12 text-lg-end">Costo Lubricantes,Químicos y otros</label>
                    <div class="col-lg-5 col-md-9 col-sm-12">
                        <div class="typeahead">
                            <input class="form-control" id="cst-lq" name="cst-lq" type="text" dir="ltr" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label class="col-form-label col-lg-3 col-sm-12 text-lg-end">Costo Agua Potable</label>
                    <div class="col-lg-5 col-md-9 col-sm-12">
                        <div class="typeahead">
                            <input class="form-control" id="cst-agua" name="cst-agua" type="text" dir="ltr" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label class="col-form-label col-lg-3 col-sm-12 text-lg-end">Costo Mantenimiento</label>
                    <div class="col-lg-5 col-md-9 col-sm-12">
                        <div class="typeahead">
                            <input class="form-control" id="cst-man" name="cst-man" type="text" dir="ltr" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label class="col-form-label col-lg-3 col-sm-12 text-lg-end">Costo Control Ambiental</label>
                    <div class="col-lg-5 col-md-9 col-sm-12">
                        <div class="typeahead">
                            <input class="form-control" id="cst-amb" name="cst-amb" type="text" dir="ltr" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label class="col-form-label col-lg-3 col-sm-12 text-lg-end">Servicios Auxiliares</label>
                    <div class="col-lg-5 col-md-9 col-sm-12">
                        <div class="typeahead">
                            <input class="form-control" id="cst-ser" name="cst-ser" type="text" dir="ltr" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label class="col-form-label col-lg-3 col-sm-12 text-lg-end">Costos Seguros Y Garantías</label>
                    <div class="col-lg-5 col-md-9 col-sm-12">
                        <div class="typeahead">
                            <input class="form-control" id="cst-seg" name="cst-seg" type="text" dir="ltr" placeholder="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <button class="badge bg-primary border border-primary" style="padding: 20px; border-radius: 50px;" data-bs-toggle="modal" data-bs-target="#crearCasoLcoeModal"><i class="fa fa-plus"></i> Nuevo Caso</button>&nbsp;
            <button class="badge bg-teal-500 border border-primary" style="padding: 20px; border-radius: 50px;">Calcular LCOE</button>
            <!-- <button class="badge bg-primary border border-primary" style="padding: 20px; border-radius: 50px;">Nuevo Caso</button> -->
        </div>

        <div class="modal fade" id="crearCasoLcoeModal" tabindex="-1" aria-labelledby="crearCasoLcoeLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="crearCasoLcoeLabel">Creacion de Caso LCOE</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="frm-create-lcoe" method="post" action="#" enctype="multipart/form-data">
                      {% csrf_token %}
                        <div class="modal-body">
                            <div class="row">
                                <h5>Datos Generales</h5>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label>Capacidad</label>                                       
                                        <span class="text-danger">[MW]</span>
                                        <input type="number" class="form-control" name="capacidad" id="capacidad" required>
                                    </div>
                                    <div class="mb-3">
                                        <label>Inversión Total</label>
                                        <input type="number" class="form-control" name="inver_total" id="inver_total" required>
                                    </div>
                                    <div class="mb-3">
                                        <label>Capital Propio</label>
                                        <input type="number" class="form-control" name="capital_prp" id="capital_prp" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label>Factor planta</label>
                                        <input type="number" class="form-control" name="fac_planta" id="fac_planta" required>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label>Vida Util</label>
                                                <input type="number" class="form-control" name="vida_util" id="vida_util" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label>Descuento</label>
                                                <input type="number" class="form-control" name="fac_planta" id="fac_planta" required>
                                            </div>
                                        </div>                                      
                                    </div>
                                    <div class="mb-3">
                                        <label>Deuda</label>
                                        <input type="number" class="form-control" name="deuda" id="deuda" required>
                                      </div>
                                </div>
                            </div>
                            <div class="row">
                                <h5>Costos Fijos</h5>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label>Costos</label>
                                        <input type="number" class="form-control" name="costos" id="costos" required>
                                    </div>
                                </div>
                           
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Calcular</button>
                            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}