{% extends "plantilla.html" %}
{% load static %}
{% block content %}
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h5 class="m-b-10">Tipo</h5>
                </div>
                <ul class="breadcrumb">
                <li class="breadcrumb-item">Tipo de Generación</li>

                <li class="breadcrumb-item" aria-current="page">Eólica</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="col-md-6">
                <div class="card-header">
                    <h5>Generación Eólica</h5>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <select class="form-control" id="sel-eolica">
                                <option disabled selected>-- Seleccione la Central</option>
                                <option>COCA CODO SINCLAIR</option>
                                <option>MOLINO</option>
                                <option>SOPLADORA</option>
                                <option>MINAS SAN FRANCISCO</option> 
                                <option>MARCEL LANIADO</option>
                                <option>SAN FRNCISCO </option>
                                <option>DELSITANISAGUA</option>
                                <option>MAZAR</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5>Datos Generales</h5>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <style> .cont{ display: flex; justify-content: center;align-items: center;}.img-eo{ width: 50%; height: 50%;}</style>
                    <div class="input-group input-group-sm cont">
                        <span class="input-group-text badge bg-teal-500">★</span>
                        <img src="{% static 'img/tipoGeneracion/eolica.jpg' %}" class="img-fluid card-img-custom img-eo" alt="Eólica">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-sm">
                        <span class="input-group badge bg-teal-500">Capacidad Central</span>
                        <input type="text" id="cap-central" name="cap-central" class="form-control">
                        <span class="input-group-text">[MW]</span>
                      </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-sm">
                      <span class="input-group badge bg-teal-500">Vida Útil</span>
                      <input type="text" id="cap-central" name="cap-central" class="form-control">
                      <span class="input-group-text">[# Años]</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-sm">
                      <span class="input-group-text badge bg-teal-500">Inversión Total</span>
                      <input type="text" id="cap-central" name="cap-central" class="form-control">
                      <span class="input-group-text">[USD]</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-sm">
                      <span class="input-group-text badge bg-teal-500">Factor Planta</span>
                      <input type="text" id="cap-central" name="cap-central" class="form-control">
                      <span class="input-group-text">[ % ]</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-sm">
                      <span class="input-group-text badge badge bg-teal-500">Año</span>
                      <input type="text" id="cap-central" name="cap-central" class="form-control">
                      <span class="input-group-text">[aaaa]</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5>Costos Fijos</h5>
            </div>
            <div class="card-body">
                <div class="form-group row mb-2">
                    <label class="col-form-label col-lg-3 col-sm-12 text-lg-end">Costos</label>
                    <div class="col-lg-5 col-md-9 col-sm-12">
                        <div class="typeahead">
                            <input class="form-control" id="cst-f" name="cst-f" type="text" dir="ltr" placeholder="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="max-height: 305px; overflow-y: auto;">
            <div class="card-header">
                <h5>Costos Variables</h5>
            </div>
            <div class="card-body">
                <div class="form-group row mb-2">
                    <label class="col-form-label col-lg-3 col-sm-12 text-lg-end">Costo Combustible</label>
                    <div class="col-lg-5 col-md-9 col-sm-12">
                        <div class="typeahead">
                            <input class="form-control" id="cst-cos" name="cst-cos" type="text" dir="ltr" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label class="col-form-label col-lg-3 col-sm-12 text-lg-end">Costo Transporte</label>
                    <div class="col-lg-5 col-md-9 col-sm-12">
                        <div class="typeahead">
                            <input class="form-control" id="cst-tr" name="cst-tr" type="text" dir="ltr" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label class="col-form-label col-lg-3 col-sm-12 text-lg-end">Costo Lubricantes,Químicos y otros</label>
                    <div class="col-lg-5 col-md-9 col-sm-12">
                        <div class="typeahead">
                            <input class="form-control" id="cst-lq" name="cst-lq" type="text" dir="ltr" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label class="col-form-label col-lg-3 col-sm-12 text-lg-end">Costo Agua Potable</label>
                    <div class="col-lg-5 col-md-9 col-sm-12">
                        <div class="typeahead">
                            <input class="form-control" id="cst-agua" name="cst-agua" type="text" dir="ltr" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label class="col-form-label col-lg-3 col-sm-12 text-lg-end">Costo Mantenimiento</label>
                    <div class="col-lg-5 col-md-9 col-sm-12">
                        <div class="typeahead">
                            <input class="form-control" id="cst-man" name="cst-man" type="text" dir="ltr" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label class="col-form-label col-lg-3 col-sm-12 text-lg-end">Costo Control Ambiental</label>
                    <div class="col-lg-5 col-md-9 col-sm-12">
                        <div class="typeahead">
                            <input class="form-control" id="cst-amb" name="cst-amb" type="text" dir="ltr" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label class="col-form-label col-lg-3 col-sm-12 text-lg-end">Servicios Auxiliares</label>
                    <div class="col-lg-5 col-md-9 col-sm-12">
                        <div class="typeahead">
                            <input class="form-control" id="cst-ser" name="cst-ser" type="text" dir="ltr" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label class="col-form-label col-lg-3 col-sm-12 text-lg-end">Costos Seguros Y Garantías</label>
                    <div class="col-lg-5 col-md-9 col-sm-12">
                        <div class="typeahead">
                            <input class="form-control" id="cst-seg" name="cst-seg" type="text" dir="ltr" placeholder="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <button class="badge bg-teal-500 border border-primary" style="padding: 20px; border-radius: 50px;">Calcular LCOE</button>&nbsp;
            <button class="badge bg-primary border border-primary" style="padding: 20px; border-radius: 50px;">Nuevo Caso</button>
        </div>
    </div>
</div>
<br>
{% endblock %}