{% extends "plantilla.html" %}
{% load static %}

{% block content %}
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h5 class="m-b-10">Tipo</h5>
                </div>
                <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'tipoGeneracion' %}" class="pc-head-link ms-0">
                        Tipo de Generación
                    </a>
                </li>
                <li class="breadcrumb-item" aria-current="page">{{ tipo.nombre|lower|capfirst }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active text-uppercase" id="central-tab" data-bs-toggle="tab" href="#central" role="tab" aria-controls="central" aria-selected="true">Central</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-uppercase" id="info-tab" data-bs-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">Ficha Técnica</a>
            </li>
            <!--<li class="nav-item">
                <a class="nav-link text-uppercase" id="calcule-tab" data-bs-toggle="tab" href="#calcule" role="tab" aria-controls="calcule" aria-selected="false">Cálculo LCOE</a>
            </li> -->
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="central" role="tabpanel" aria-labelledby="central-tab">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="col-md-6">
                                <div class="card-header">
                                    <h5>Generación {{ tipo.nombre }}</h5>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <select id="select-central" class="form-control">
                                                <option value="">Seleccione una central...</option>
                                                {% for central in centrales %}
                                                    <option value="{{ central.id }}">{{ central.nombre }} ({{ central.tipo }})</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="datos-central" class="row" style="display: none;">
                    <div class="col-md-6 ">
                        <div class="card">
                            <div class="card-header">
                                <h5>Datos Generales</h5>
                            </div>
                            <div id="datos-contenido"></div>
                            <div class="card-body">
                                <div class="form-group">
                                    <style> .cont{ display: flex; justify-content: center;align-items: center;}.img-term{ width: 50%; height: 50%;}</style>
                                    <div class="input-group input-group-sm cont">
                                        <span class="input-group-text badge bg-yellow-500">★</span>
                                        <img src="{% static 'assets/images/default.jpg' %}" class="img-fluid card-img-custom img-term" alt="Térmica">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-sm">
                                        <span class="input-group badge bg-yellow-500">Capacidad Central</span>
                                        <input type="text" id="capacidad" name="capacidad" class="form-control">{{info.capacidad}}
                                        <span class="input-group-text">[MW]</span>
                                      </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-sm">
                                      <span class="input-group badge bg-yellow-500">Vida Útil</span>
                                      <input type="text" id="vida_util" name="vida_util" class="form-control">
                                      <span class="input-group-text">[# Años]</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-sm">
                                      <span class="input-group-text badge bg-yellow-500">Inversión Total</span>
                                      <input type="text" id="inversion" name="inversion" class="form-control">
                                      <span class="input-group-text">[USD]</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-sm">
                                      <span class="input-group-text badge bg-yellow-500">Factor Planta</span>
                                      <input type="text" id="factor_planta" name="factor_planta" class="form-control">
                                      <span class="input-group-text">[ % ]</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-sm">
                                      <span class="input-group-text badge badge bg-yellow-500">Año</span>
                                      <input type="text" id="anio" name="anio" class="form-control">
                                      <span class="input-group-text">[aaaa]</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h5>Costos Fijos</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-group row mb-2">
                                    <label class="col-form-label col-lg-3 col-sm-12 text-lg-end">Costos de Producción</label>
                                    <div class="col-lg-5 col-md-9 col-sm-12">
                                        <div class="typeahead">
                                            <input class="form-control" id="cst-produc" name="cst-produc" type="text" dir="ltr" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row mb-2">
                                    <label class="col-form-label col-lg-3 col-sm-12 text-lg-end">Costos O&M</label>
                                    <div class="col-lg-5 col-md-9 col-sm-12">
                                        <div class="typeahead">
                                            <input class="form-control" id="cst-om" name="cst-om" type="text" dir="ltr" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h5>Costos Variables</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-group row mb-2">
                                    <label class="col-form-label col-lg-3 col-sm-12 text-lg-end">Costos</label>
                                    <div class="col-lg-5 col-md-9 col-sm-12">
                                        <div class="typeahead">
                                            <input class="form-control" id="cst-v" name="cst-v" type="text" dir="ltr" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button class="badge bg-warning border border-success" style="padding: 20px; border-radius: 50px;">Nuevo Caso</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="info-tab">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h5>Ficha Técnica</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="input-group input-group-sm">
                                        <span class="input-group badge bg-yellow-500">Institución/Empresa</span>
                                        <input type="text" id="capacidad" name="capacidad" class="form-control">
                                      </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-sm">
                                      <span class="input-group badge bg-yellow-500">Tipo</span>
                                      <input type="text" id="vida_util" name="vida_util" class="form-control">
                                      <span class="input-group-text">[# Años]</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-sm">
                                      <span class="input-group-text badge bg-yellow-500">Inversión Total</span>
                                      <input type="text" id="inversion" name="inversion" class="form-control">
                                      <span class="input-group-text">[USD]</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-sm">
                                      <span class="input-group-text badge bg-yellow-500">Factor Planta</span>
                                      <input type="text" id="factor_planta" name="factor_planta" class="form-control">
                                      <span class="input-group-text">[ % ]</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-sm">
                                      <span class="input-group-text badge badge bg-yellow-500">Año</span>
                                      <input type="text" id="anio" name="anio" class="form-control">
                                      <span class="input-group-text">[aaaa]</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h5>Costos Fijos</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-group row mb-2">
                                    <label class="col-form-label col-lg-3 col-sm-12 text-lg-end">Institución</label>
                                    <div class="col-lg-5 col-md-9 col-sm-12">
                                        <div class="typeahead">
                                            <input class="form-control" id="cst-produc" name="" type="text" dir="ltr" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row mb-2">
                                    <label class="col-form-label col-lg-3 col-sm-12 text-lg-end">Costos O&M</label>
                                    <div class="col-lg-5 col-md-9 col-sm-12">
                                        <div class="typeahead">
                                            <input class="form-control" id="cst-om" name="cst-om" type="text" dir="ltr" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h5>Costos Variables</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-group row mb-2">
                                    <label class="col-form-label col-lg-3 col-sm-12 text-lg-end">Costos</label>
                                    <div class="col-lg-5 col-md-9 col-sm-12">
                                        <div class="typeahead">
                                            <input class="form-control" id="cst-v" name="cst-v" type="text" dir="ltr" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button class="badge bg-primary border border-primary" style="padding: 20px; border-radius: 50px;" data-bs-toggle="modal" data-bs-target="#crearCasoLcoeModal"><i class="fa fa-plus"></i> Nuevo Caso</button>&nbsp;
                            <button class="badge bg-teal-500 border border-primary" style="padding: 20px; border-radius: 50px;">Calcular LCOE</button>
                            <!-- <button class="badge bg-primary border border-primary" style="padding: 20px; border-radius: 50px;">Nuevo Caso</button> -->
                        </div>
                
                        <div class="modal fade" id="crearCasoLcoeModal" tabindex="-1" aria-labelledby="crearCasoLcoeLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="crearCasoLcoeLabel">Creacion de Caso LCOE</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form id="frm-create-lcoe" method="post" action="#" enctype="multipart/form-data">
                                      {% csrf_token %}
                                        <div class="modal-body">
                                            <div class="row">
                                                <h5>Datos Generales</h5>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label>Capacidad</label>                                       
                                                        <span class="text-danger">[MW]</span>
                                                        <input type="number" class="form-control" name="capacidad" id="capacidad" required>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label>Inversión Total</label>
                                                        <input type="number" class="form-control" name="inver_total" id="inver_total" required>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label>Capital Propio</label>
                                                        <input type="number" class="form-control" name="capital_prp" id="capital_prp" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label>Factor planta</label>
                                                        <input type="number" class="form-control" name="fac_planta" id="fac_planta" required>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="mb-3">
                                                                <label>Vida Util</label>
                                                                <input type="number" class="form-control" name="vida_util" id="vida_util" required>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="mb-3">
                                                                <label>Descuento</label>
                                                                <input type="number" class="form-control" name="fac_planta" id="fac_planta" required>
                                                            </div>
                                                        </div>                                      
                                                    </div>
                                                    <div class="mb-3">
                                                        <label>Deuda</label>
                                                        <input type="number" class="form-control" name="deuda" id="deuda" required>
                                                      </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <h5>Costos Fijos</h5>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label>Costos</label>
                                                        <input type="number" class="form-control" name="costos" id="costos" required>
                                                    </div>
                                                </div>
                                           
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-success">Calcular</button>
                                            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="calcule" role="tabpanel" aria-labelledby="calcule-tab">
                <div class="card">
                    <div class="card-body">
                        <span class="card-title">El valor del LCOE es:</span>
                        <div class="alert alert-info rounded-4 shadow-sm p-3 text-center w-100" style="max-width: 400px; margin: auto;">
                            <h5 class="mb-2">Resultado</h5>
                            <p class="mb-0 display-6 fw-bold" id="resultado">---------- </p>
                        </div>
                          
                    </div>
                </div>

                <div class="card text-center shadow rounded-4 p-3" style="max-width: 400px; margin: auto;">
                    <div class="card-header bg-primary text-white fw-bold">
                      Resultado
                    </div>
                    <div class="card-body">
                      <p class="card-text display-6 fw-semibold" id="resultado">-----</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<script>
document.getElementById('select-central').addEventListener('change', function() {
    const centralId = this.value;
    if (!centralId) {
        document.getElementById('datos-central').style.display = 'none';
        return;
    }
    
    fetch(`/obtener-datos-central/?central_id=${centralId}`)
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                const datos = data.datos;
                const contenido = document.getElementById('datos-contenido');
                
                // Construir el HTML con los datos
                let html = '<table class="table">';
                for (const [key, value] of Object.entries(datos)) {
                    // Formatear el nombre del campo para mejor legibilidad
                    const nombreCampo = key.replace(/_/g, ' ').replace(/\b\w/g, l => l.toUpperCase());
                    html += `<tr><th>${nombreCampo}</th><td>${value}</td></tr>`;
                }
                html += '</table>';
                
                contenido.innerHTML = html;
                document.getElementById('datos-central').style.display = 'block';
            } else {
                alert(data.error);
            }
        });
});
</script>
    
{% endblock %}